In [1]:

import pandas as pd
from pathlib import Path

excel_path = Path(r"/Users/cheickberthe/PycharmProjects/spreadsheet-analyzer/test_assets/collection/business-accounting/Business Accounting.xlsx")
df = pd.read_excel(excel_path, sheet_name=3)
print(f"Loaded sheet with shape: {df.shape}")

# Quick preview for LLM context
print("\nFirst 10 rows:")
print(df.head(10).to_string())
print("\nLast 5 rows:")
print(df.tail(5).to_string())

# Get basic info
sheet_name = "None"
sheet_dimensions = f"{df.shape[0]} rows x {df.shape[1]} columns"

Loaded sheet with shape: (167, 11)

First 10 rows:
        Date                                       Description  Transaction type   USD Amount   XOF Amount   Column 1   Category   TOTAL REVENUES   2102.62   TOTAL EXPENSES  -32937.32
0 2024-01-01                              ChatGPT subscription               EXP      -240.00          NaN        NaN        NaN              NaN       NaN              NaN        NaN
1 2024-01-01                             Apple Cloud (9.99/mo)               EXP      -119.88          NaN        NaN        NaN              NaN       NaN              NaN        NaN
2 2024-01-01                                Squarespace (6/mo)               EXP       -72.00          NaN        NaN        NaN              NaN       NaN              NaN        NaN
3 2024-01-03                             Whole cloves for soap               EXP       -30.10          NaN        NaN        NaN              NaN       NaN              NaN        NaN
4 2024-01-03  3966kg Shea Butter Batch 7 (3010kg left 2/27/25)               EXP     -2617.56          NaN        NaN        NaN              NaN       NaN              NaN        NaN
5 2024-01-05                          Turmeric Powder for Soap               EXP       -39.50          NaN        NaN        NaN              NaN       NaN              NaN        NaN
6 2024-01-05                              Shopify subscription               EXP      -357.11          NaN        NaN        NaN              NaN       NaN              NaN        NaN
7 2024-01-05           Canva Design Photo & Video Subscription               EXP      -128.99          NaN        NaN        NaN              NaN       NaN              NaN        NaN
8 2024-01-08                                      UPS Shipping               EXP      -381.76          NaN        NaN        NaN              NaN       NaN              NaN        NaN
9 2024-01-10                                    Shopify Payout               REV        81.73          NaN        NaN        NaN              NaN       NaN              NaN        NaN

Last 5 rows:
          Date                  Description  Transaction type   USD Amount   XOF Amount   Column 1   Category   TOTAL REVENUES   2102.62   TOTAL EXPENSES  -32937.32
162 2024-12-16                 UPS Shipping               EXP      -214.49          NaN        NaN        NaN              NaN       NaN              NaN        NaN
163 2024-12-18          UPS Domestic/Export               EXP        -6.36          NaN        NaN        NaN              NaN       NaN              NaN        NaN
164 2024-12-20  Credit Card Interest Charge               EXP       -45.29          NaN        NaN        NaN              NaN       NaN              NaN        NaN
165 2025-01-24      Ndomo - Segou (advance)               EXP       -81.96          NaN        NaN        NaN              NaN       NaN              NaN        NaN
166 2025-01-27                Ndomo - Segou               EXP      -146.86          NaN        NaN        NaN              NaN       NaN              NaN        NaN

/Users/cheickberthe/PycharmProjects/spreadsheet-analyzer/.venv/lib/python3.12/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [2]:

excel_file_name = excel_path.name
sheet_dimensions = f"{df.shape[0]} rows x {df.shape[1]} columns"
sheet_name

'None'

In [3]:

# Table Detection Analysis
print("=== DATA STRUCTURE ANALYSIS ===")
print(f"DataFrame shape: {df.shape}")
print(f"Columns: {list(df.columns)}")
print("\n=== FIRST 10 ROWS ===")
print(df.head(10).to_string())
print("\n=== LAST 5 ROWS ===")
print(df.tail(5).to_string())

print("\n=== COLUMN ANALYSIS ===")
# Check for empty columns that might separate tables
for i, col in enumerate(df.columns):
    non_null_count = df[col].notna().sum()
    print(f"Column {i} ('{col}'): {non_null_count}/{len(df)} non-null values")

print("\n=== EMPTY ROW ANALYSIS ===")
# Check for empty rows that might separate tables
empty_rows = df.isnull().all(axis=1)
if empty_rows.any():
    empty_row_indices = empty_rows[empty_rows].index.tolist()
    print(f"Empty rows found at indices: {empty_row_indices[:10]}")
else:
    print("No completely empty rows found")

print("\n=== SIDE-BY-SIDE ANALYSIS ===")
# Check for potential side-by-side tables by examining column groups
left_cols = df.iloc[:, 0:7]  # First 7 columns
right_cols = df.iloc[:, 7:]  # Remaining columns
print(f"Left section shape: {left_cols.shape}")
print(f"Right section shape: {right_cols.shape}")
print(f"Left section non-null density: {left_cols.notna().sum().sum() / (left_cols.shape[0] * left_cols.shape[1]):.2f}")
print(f"Right section non-null density: {right_cols.notna().sum().sum() / (right_cols.shape[0] * right_cols.shape[1]):.2f}")

=== DATA STRUCTURE ANALYSIS ===
DataFrame shape: (167, 11)
Columns: ['Date', 'Description', 'Transaction type', 'USD Amount', 'XOF Amount', 'Column 1', 'Category', 'TOTAL REVENUES', 2102.62, 'TOTAL EXPENSES', -32937.320000000014]

=== FIRST 10 ROWS ===
        Date                                       Description  Transaction type   USD Amount   XOF Amount   Column 1   Category   TOTAL REVENUES   2102.62   TOTAL EXPENSES  -32937.32
0 2024-01-01                              ChatGPT subscription               EXP      -240.00          NaN        NaN        NaN              NaN       NaN              NaN        NaN
1 2024-01-01                             Apple Cloud (9.99/mo)               EXP      -119.88          NaN        NaN        NaN              NaN       NaN              NaN        NaN
2 2024-01-01                                Squarespace (6/mo)               EXP       -72.00          NaN        NaN        NaN              NaN       NaN              NaN        NaN
3 2024-01-03                             Whole cloves for soap               EXP       -30.10          NaN        NaN        NaN              NaN       NaN              NaN        NaN
4 2024-01-03  3966kg Shea Butter Batch 7 (3010kg left 2/27/25)               EXP     -2617.56          NaN        NaN        NaN              NaN       NaN              NaN        NaN
5 2024-01-05                          Turmeric Powder for Soap               EXP       -39.50          NaN        NaN        NaN              NaN       NaN              NaN        NaN
6 2024-01-05                              Shopify subscription               EXP      -357.11          NaN        NaN        NaN              NaN       NaN              NaN        NaN
7 2024-01-05           Canva Design Photo & Video Subscription               EXP      -128.99          NaN        NaN        NaN              NaN       NaN              NaN        NaN
8 2024-01-08                                      UPS Shipping               EXP      -381.76          NaN        NaN        NaN              NaN       NaN              NaN        NaN
9 2024-01-10                                    Shopify Payout               REV        81.73          NaN        NaN        NaN              NaN       NaN              NaN        NaN

=== LAST 5 ROWS ===
          Date                  Description  Transaction type   USD Amount   XOF Amount   Column 1   Category   TOTAL REVENUES   2102.62   TOTAL EXPENSES  -32937.32
162 2024-12-16                 UPS Shipping               EXP      -214.49          NaN        NaN        NaN              NaN       NaN              NaN        NaN
163 2024-12-18          UPS Domestic/Export               EXP        -6.36          NaN        NaN        NaN              NaN       NaN              NaN        NaN
164 2024-12-20  Credit Card Interest Charge               EXP       -45.29          NaN        NaN        NaN              NaN       NaN              NaN        NaN
165 2025-01-24      Ndomo - Segou (advance)               EXP       -81.96          NaN        NaN        NaN              NaN       NaN              NaN        NaN
166 2025-01-27                Ndomo - Segou               EXP      -146.86          NaN        NaN        NaN              NaN       NaN              NaN        NaN

=== COLUMN ANALYSIS ===
Column 0 ('Date'): 167/167 non-null values
Column 1 ('Description'): 167/167 non-null values
Column 2 ('Transaction type'): 167/167 non-null values
Column 3 ('USD Amount'): 167/167 non-null values
Column 4 ('XOF Amount'): 0/167 non-null values
Column 5 ('Column 1'): 0/167 non-null values
Column 6 ('Category'): 0/167 non-null values
Column 7 ('TOTAL REVENUES'): 0/167 non-null values
Column 8 ('2102.62'): 0/167 non-null values
Column 9 ('TOTAL EXPENSES'): 0/167 non-null values
Column 10 ('-32937.320000000014'): 0/167 non-null values

=== EMPTY ROW ANALYSIS ===
No completely empty rows found

=== SIDE-BY-SIDE ANALYSIS ===
Left section shape: (167, 7)
Right section shape: (167, 4)
Left section non-null density: 0.57
Right section non-null density: 0.00

In [4]:

# Extract detection results created by LLM
# The detector should have created a 'detected_tables' variable with the results

# Check if the LLM created the expected variable
if 'detected_tables' in globals():
    # Return the detected tables
    detection_results = detected_tables
    print(f"Found {len(detection_results)} tables from LLM detection")
else:
    # If no detection was made, return empty list to trigger fallback
    print("No 'detected_tables' variable found - LLM may not have completed detection")
    detection_results = []

detection_results

No 'detected_tables' variable found - LLM may not have completed detection

[]

In [5]:
df_shape = df.shape; df_shape

(167, 11)


# Table Detection Results

Detected 1 tables:


## Table 1: Full spreadsheet (fallback)
- Location: Rows 0-166, Columns 0-10
- Type: detail
- Entity: data
- Confidence: 0.50