In [1]:

import pandas as pd
from pathlib import Path

excel_path = Path(r"/Users/cheickberthe/PycharmProjects/spreadsheet-analyzer/test_assets/collection/business-accounting/Business Accounting.xlsx")
df = pd.read_excel(excel_path, sheet_name=2)
print(f"Loaded sheet with shape: {df.shape}")

# Quick preview for LLM context
print("\nFirst 10 rows:")
print(df.head(10).to_string())
print("\nLast 5 rows:")
print(df.tail(5).to_string())

# Get basic info
sheet_name = "None"
sheet_dimensions = f"{df.shape[0]} rows x {df.shape[1]} columns"

Loaded sheet with shape: (121, 14)

First 10 rows:
                 Lender   Amount   Term    Rate  Payment Origination Date     Truck  Unnamed: 7 Unnamed: 8           Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13
0                   BHG  89395.0  120.0  0.1824  1624.60       2023-04-18  Actros 1         NaN  Payment #                 Date      Amount    Interest   Principal     Balance
1  Fidelity 401(k) loan  36000.0   59.0  0.0925   350.63       2023-07-16  Actros 2         NaN          1  2023-05-20 00:00:00      1624.6         NaN         NaN         NaN
2                   NaN      NaN    NaN     NaN      NaN              NaT       NaN         NaN          2  2023-06-20 00:00:00      1624.6         NaN         NaN         NaN
3                   NaN      NaN    NaN     NaN      NaN              NaT       NaN         NaN          3  2023-07-20 00:00:00      1624.6         NaN         NaN         NaN
4                   NaN      NaN    NaN     NaN      NaN              NaT       NaN         NaN          4  2023-08-20 00:00:00      1624.6         NaN         NaN         NaN
5                   NaN      NaN    NaN     NaN      NaN              NaT       NaN         NaN          5  2023-09-20 00:00:00      1624.6         NaN         NaN         NaN
6                   NaN      NaN    NaN     NaN      NaN              NaT       NaN         NaN          6  2023-10-20 00:00:00      1624.6         NaN         NaN         NaN
7                   NaN      NaN    NaN     NaN      NaN              NaT       NaN         NaN          7  2023-11-20 00:00:00      1624.6         NaN         NaN         NaN
8                   NaN      NaN    NaN     NaN      NaN              NaT       NaN         NaN          8  2023-12-20 00:00:00      1624.6         NaN         NaN         NaN
9                   NaN      NaN    NaN     NaN      NaN              NaT       NaN         NaN          9  2024-01-20 00:00:00      1624.6         NaN         NaN         NaN

Last 5 rows:
    Lender  Amount  Term  Rate  Payment Origination Date Truck  Unnamed: 7 Unnamed: 8           Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13
116    NaN     NaN   NaN   NaN      NaN              NaT   NaN         NaN        116  2032-12-20 00:00:00      1624.6         NaN         NaN         NaN
117    NaN     NaN   NaN   NaN      NaN              NaT   NaN         NaN        117  2033-01-20 00:00:00      1624.6         NaN         NaN         NaN
118    NaN     NaN   NaN   NaN      NaN              NaT   NaN         NaN        118  2033-02-20 00:00:00      1624.6         NaN         NaN         NaN
119    NaN     NaN   NaN   NaN      NaN              NaT   NaN         NaN        119  2033-03-20 00:00:00      1624.6         NaN         NaN         NaN
120    NaN     NaN   NaN   NaN      NaN              NaT   NaN         NaN        120  2033-04-20 00:00:00      1624.6         NaN         NaN         NaN

In [2]:

excel_file_name = excel_path.name
sheet_dimensions = f"{df.shape[0]} rows x {df.shape[1]} columns"
sheet_name

'None'

In [3]:

# Table Detection Analysis
print("=== DATA STRUCTURE ANALYSIS ===")
print(f"DataFrame shape: {df.shape}")
print(f"Columns: {list(df.columns)}")
print("\n=== FIRST 10 ROWS ===")
print(df.head(10).to_string())
print("\n=== LAST 5 ROWS ===")
print(df.tail(5).to_string())

print("\n=== COLUMN ANALYSIS ===")
# Check for empty columns that might separate tables
for i, col in enumerate(df.columns):
    non_null_count = df[col].notna().sum()
    print(f"Column {i} ('{col}'): {non_null_count}/{len(df)} non-null values")

print("\n=== EMPTY ROW ANALYSIS ===")
# Check for empty rows that might separate tables
empty_rows = df.isnull().all(axis=1)
if empty_rows.any():
    empty_row_indices = empty_rows[empty_rows].index.tolist()
    print(f"Empty rows found at indices: {empty_row_indices[:10]}")
else:
    print("No completely empty rows found")

print("\n=== SIDE-BY-SIDE ANALYSIS ===")
# Check for potential side-by-side tables by examining column groups
left_cols = df.iloc[:, 0:7]  # First 7 columns
right_cols = df.iloc[:, 7:]  # Remaining columns
print(f"Left section shape: {left_cols.shape}")
print(f"Right section shape: {right_cols.shape}")
print(f"Left section non-null density: {left_cols.notna().sum().sum() / (left_cols.shape[0] * left_cols.shape[1]):.2f}")
print(f"Right section non-null density: {right_cols.notna().sum().sum() / (right_cols.shape[0] * right_cols.shape[1]):.2f}")

=== DATA STRUCTURE ANALYSIS ===
DataFrame shape: (121, 14)
Columns: ['Lender', 'Amount', 'Term', 'Rate', 'Payment', 'Origination Date', 'Truck', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13']

=== FIRST 10 ROWS ===
                 Lender   Amount   Term    Rate  Payment Origination Date     Truck  Unnamed: 7 Unnamed: 8           Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13
0                   BHG  89395.0  120.0  0.1824  1624.60       2023-04-18  Actros 1         NaN  Payment #                 Date      Amount    Interest   Principal     Balance
1  Fidelity 401(k) loan  36000.0   59.0  0.0925   350.63       2023-07-16  Actros 2         NaN          1  2023-05-20 00:00:00      1624.6         NaN         NaN         NaN
2                   NaN      NaN    NaN     NaN      NaN              NaT       NaN         NaN          2  2023-06-20 00:00:00      1624.6         NaN         NaN         NaN
3                   NaN      NaN    NaN     NaN      NaN              NaT       NaN         NaN          3  2023-07-20 00:00:00      1624.6         NaN         NaN         NaN
4                   NaN      NaN    NaN     NaN      NaN              NaT       NaN         NaN          4  2023-08-20 00:00:00      1624.6         NaN         NaN         NaN
5                   NaN      NaN    NaN     NaN      NaN              NaT       NaN         NaN          5  2023-09-20 00:00:00      1624.6         NaN         NaN         NaN
6                   NaN      NaN    NaN     NaN      NaN              NaT       NaN         NaN          6  2023-10-20 00:00:00      1624.6         NaN         NaN         NaN
7                   NaN      NaN    NaN     NaN      NaN              NaT       NaN         NaN          7  2023-11-20 00:00:00      1624.6         NaN         NaN         NaN
8                   NaN      NaN    NaN     NaN      NaN              NaT       NaN         NaN          8  2023-12-20 00:00:00      1624.6         NaN         NaN         NaN
9                   NaN      NaN    NaN     NaN      NaN              NaT       NaN         NaN          9  2024-01-20 00:00:00      1624.6         NaN         NaN         NaN

=== LAST 5 ROWS ===
    Lender  Amount  Term  Rate  Payment Origination Date Truck  Unnamed: 7 Unnamed: 8           Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13
116    NaN     NaN   NaN   NaN      NaN              NaT   NaN         NaN        116  2032-12-20 00:00:00      1624.6         NaN         NaN         NaN
117    NaN     NaN   NaN   NaN      NaN              NaT   NaN         NaN        117  2033-01-20 00:00:00      1624.6         NaN         NaN         NaN
118    NaN     NaN   NaN   NaN      NaN              NaT   NaN         NaN        118  2033-02-20 00:00:00      1624.6         NaN         NaN         NaN
119    NaN     NaN   NaN   NaN      NaN              NaT   NaN         NaN        119  2033-03-20 00:00:00      1624.6         NaN         NaN         NaN
120    NaN     NaN   NaN   NaN      NaN              NaT   NaN         NaN        120  2033-04-20 00:00:00      1624.6         NaN         NaN         NaN

=== COLUMN ANALYSIS ===
Column 0 ('Lender'): 2/121 non-null values
Column 1 ('Amount'): 2/121 non-null values
Column 2 ('Term'): 2/121 non-null values
Column 3 ('Rate'): 2/121 non-null values
Column 4 ('Payment'): 2/121 non-null values
Column 5 ('Origination Date'): 2/121 non-null values
Column 6 ('Truck'): 2/121 non-null values
Column 7 ('Unnamed: 7'): 0/121 non-null values
Column 8 ('Unnamed: 8'): 121/121 non-null values
Column 9 ('Unnamed: 9'): 121/121 non-null values
Column 10 ('Unnamed: 10'): 121/121 non-null values
Column 11 ('Unnamed: 11'): 1/121 non-null values
Column 12 ('Unnamed: 12'): 1/121 non-null values
Column 13 ('Unnamed: 13'): 1/121 non-null values

=== EMPTY ROW ANALYSIS ===
No completely empty rows found

=== SIDE-BY-SIDE ANALYSIS ===
Left section shape: (121, 7)
Right section shape: (121, 7)
Left section non-null density: 0.02
Right section non-null density: 0.43

In [4]:
df.head()

,Lender,Amount,Term,Rate,Payment,Origination Date,Truck,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,BHG,89395.0,120.0,0.1824,1624.60,2023-04-18,Actros 1,NaN,Payment #,Date,Amount,Interest,Principal,Balance
1,Fidelity 401(k) loan,36000.0,59.0,0.0925,350.63,2023-07-16,Actros 2,NaN,1,2023-05-20 00:00:00,1624.6,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,2,2023-06-20 00:00:00,1624.6,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,3,2023-07-20 00:00:00,1624.6,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,4,2023-08-20 00:00:00,1624.6,NaN,NaN,NaN

In [5]:
df.tail()

,Lender,Amount,Term,Rate,Payment,Origination Date,Truck,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
116,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,116,2032-12-20 00:00:00,1624.6,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,117,2033-01-20 00:00:00,1624.6,NaN,NaN,NaN
118,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,118,2033-02-20 00:00:00,1624.6,NaN,NaN,NaN
119,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,119,2033-03-20 00:00:00,1624.6,NaN,NaN,NaN
120,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,120,2033-04-20 00:00:00,1624.6,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Lender            2 non-null      object
 1   Amount            2 non-null      float64
 2   Term              2 non-null      float64
 3   Rate              2 non-null      float64
 4   Payment           2 non-null      float64
 5   Origination Date  2 non-null      datetime64[ns]
 6   Truck             2 non-null      object
 7   Unnamed: 7        0 non-null      float64
 8   Unnamed: 8        121 non-null    object
 9   Unnamed: 9        121 non-null    object
 10  Unnamed: 10       121 non-null    object
 11  Unnamed: 11       1 non-null      object
 12  Unnamed: 12       1 non-null      object
 13  Unnamed: 13       1 non-null      object
dtypes: datetime64[ns](1), float64(5), object(8)
memory usage: 13.4+ KB

In [7]:
# Identify blocks separated by empty rows
empty_rows = df.isnull().all(axis=1)
empty_row_indices = empty_rows[empty_rows].index.tolist()

# Look for consecutive empty rows (2+ indicate table boundary)
# Empty columns can also indicate horizontal table separation

# Check for empty columns
empty_columns = df.isnull().all(axis=0)
empty_column_indices = empty_columns[empty_columns].index.tolist()

empty_row_indices, empty_column_indices

([], ['Unnamed: 7'])

In [8]:
# Analyze ID patterns and column content
# Check the first few rows to identify entity types
entity_patterns = df.iloc[:, :7].head(10)
entity_patterns

,Lender,Amount,Term,Rate,Payment,Origination Date,Truck
0,BHG,89395.0,120.0,0.1824,1624.60,2023-04-18,Actros 1
1,Fidelity 401(k) loan,36000.0,59.0,0.0925,350.63,2023-07-16,Actros 2
2,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,NaN,NaN,NaN,NaN,NaN,NaT,NaN
4,NaN,NaN,NaN,NaN,NaN,NaT,NaN
5,NaN,NaN,NaN,NaN,NaN,NaT,NaN
6,NaN,NaN,NaN,NaN,NaN,NaT,NaN
7,NaN,NaN,NaN,NaN,NaN,NaT,NaN
8,NaN,NaN,NaN,NaN,NaN,NaT,NaN
9,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [9]:

# Extract detection results created by LLM
# The detector should have created a 'detected_tables' variable with the results

# Check if the LLM created the expected variable
if 'detected_tables' in globals():
    # Return the detected tables
    detection_results = detected_tables
    print(f"Found {len(detection_results)} tables from LLM detection")
else:
    # If no detection was made, return empty list to trigger fallback
    print("No 'detected_tables' variable found - LLM may not have completed detection")
    detection_results = []

detection_results

No 'detected_tables' variable found - LLM may not have completed detection

[]

In [10]:
df_shape = df.shape; df_shape

(121, 14)


# Table Detection Results

Detected 1 tables:


## Table 1: Full spreadsheet (fallback)
- Location: Rows 0-120, Columns 0-13
- Type: detail
- Entity: data
- Confidence: 0.50